<%= flash_messages %>
<div class="block">
  <header class="header-group">
    <%= react_component("Heading", {name: "Music games"}) %>
  </header>
  <div class="row">
    <div class="col-md-12">
    </div>
  </div>
</div>
