<%= flash_messages %>
<div class="block">
  <div class="row">
    <div class="col-md-12">
      <h1 x-data="{ message: 'I ❤️ Alpine' }" x-text="message"></h1>
      <div x-data="{ count: 0 }">
        <button x-on:click="count++">Increment</button>
        <span x-text="count"></span>
      </div>
    </div>
  </div>
  <div>
      <h1 class="btn-primary !text-red-200 my-class">
        Hello world!
      </h1>
      <button class="btn-primary">
        Click button
      </button>
  </div>
</div>
